{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            {% for object in object_list %}
                <div class="col-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{{object.miniatura.url}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="{{object.get_absolute_url}}">
                                <h5 class="card-title">{{ object.titulo }}</h5>
                            </a>
                            <p class="card-text">{{object.contenido|truncatechars:40}}</p>
                            <p>
                                <span> <i class="fas fa-thumbs-up ml-2"></i> {{object.get_like_count}}</span>
                                <span> <i class="fas fa-thumbs-down ml-2"></i> {{object.get_dislike_count}}</span>
                                <span> <i class="fas fa-eye ml-2"></i> {{object.get_view_count}}</span>
                                <span> <i class="fas fa-comments ml-2"></i> {{object.get_comment_count}}</span>
                            </p>

                            <p class="card-text" >
                                Posted {{ object.fecha_publicacion |timesince }} ago
                            </p>
                        </div>
                    </div>
                    
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}


